<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/homepage">Home</a>
    <a class="navbar-brand" href="#">About</a>
    <a class="navbar-brand" href="#">Gallery</a>
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      More
    </a>
  </nav>
  <div class="container">
    <h3 class="text-center">Register Here</h3>
    <form>
      <input class="form-control mr-sm-2 mt-2" type="email" placeholder="Enter Your Email Here" aria-label="Email">
      <input class="form-control mr-sm-2 mt-2" type="password" placeholder="Enter Your Password Here" aria-label="Password">
      <div class="container mt-2">
        <button class="btn btn-primary">Signup</button>
      </div>
    </form>
  </div>

</div>